{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="max-md:m-5">
    <div class="info grid grid-cols-3 grid-rows-2 items-center bg-white mb-8 p-4 rounded-xl">
        <div class="photo row-span-2 w-16 h-16 rounded-full overflow-hidden">
            <img class="w-16 h-16 object-cover" src="{% static 'images/home.jpg' %}" alt="">
        </div>
        <div class="name">
            <h1 class="text-2xl font-bold">唯一</h1>
        </div>
        <div class="icon justify-self-end">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="7" r="4"></circle>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
        </div>
        <div class="datetime col-span-2">
            <p class="text-gray-500">已經註冊了 1 個月</p>
        </div>
    </div>
    <div class="grid grid-cols-2 grid-rows-3 gap-1.5">
        <div class="create-post grid grid-cols-3 bg-white p-2 rounded-xl">
            <div class="title col-span-2">
                <span class="text-slate-500">發布的文章</span>
            </div>
            <div class="icon justify-self-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-pencil stroke-sky-600"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                    <path d="M10 18l5 -5a1.414 1.414 0 0 0 -2 -2l-5 5v2h2z"></path>
                </svg>
            </div>
            <div class="count col-span-3 text-3xl font-semibold">410 篇</div>
        </div>
        <div class="create-comment grid grid-cols-3 bg-white p-2 rounded-xl">
            <div class="title col-span-2">
                <span class="text-slate-500">發布的留言</span>
            </div>
            <div class="icon justify-self-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-2 stroke-sky-600"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M12 20l-3 -3h-2a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-2l-3 3">
                    </path>
                    <line x1="8" y1="9" x2="16" y2="9"></line>
                    <line x1="8" y1="13" x2="14" y2="13"></line>
                </svg>
            </div>
            <div class="count col-span-3 text-3xl font-semibold">390 則</div>
        </div>
        <div class="post-keep grid grid-cols-3 bg-white p-2 rounded-xl">
            <div class="title col-span-2">
                <span class="text-slate-500">文章被收藏</span>
            </div>
            <div class="icon justify-self-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark stroke-sky-600"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
                </svg>
            </div>
            <div class="count col-span-3 text-3xl font-semibold">4 次</div>
        </div>
        <div class="post-comment grid grid-cols-3 bg-white p-2 rounded-xl">
            <div class="title col-span-2">
                <span class="text-slate-500">文章被留言</span>
            </div>
            <div class="icon justify-self-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag stroke-orange-600"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="8.5" cy="8.5" r="1" fill="currentColor"></circle>
                    <path
                        d="M4 7v3.859c0 .537 .213 1.052 .593 1.432l8.116 8.116a2.025 2.025 0 0 0 2.864 0l4.834 -4.834a2.025 2.025 0 0 0 0 -2.864l-8.117 -8.116a2.025 2.025 0 0 0 -1.431 -.593h-3.859a3 3 0 0 0 -3 3z">
                    </path>
                </svg>
            </div>
            <div class="count col-span-3 text-3xl font-semibold">35 則</div>
        </div>
        <div class="comment-like grid grid-cols-3 bg-white p-2 rounded-xl">
            <div class="title col-span-2">
                <span class="text-slate-500">留言獲得按讚</span>
            </div>
            <div class="icon justify-self-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-up stroke-blue-600"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3">
                    </path>
                </svg>
            </div>
            <div class="count col-span-3 text-3xl font-semibold">454 個</div>
        </div>
        <div class="post-like grid grid-cols-3 bg-white p-2 rounded-xl">
            <div class="title col-span-2">
                <span class="text-slate-500">文章獲得愛心</span>
            </div>
            <div class="icon justify-self-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart stroke-rose-600"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                </svg>
            </div>
            <div class="count col-span-3 text-3xl font-semibold">17 顆</div>
        </div>
    </div>
</div>
{% endblock %}